.root {
  margin-bottom: 32px;

  .track {
    background: #aaaaaa1a;
    border-radius: 2px;
    height: 4px;
    cursor: pointer;

    .range {
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
    }

    .thumb {
      width: 20px;
      height: 20px;
      margin-top: -8px;
      border-radius: 10px;
      background-color: #fff;
      cursor: pointer;
    }
  }
}
