.element {
  position: absolute;
  border: none;
  outline: none;
  line-height: 1.2;

  &:hover {
    cursor: default;
  }

  &.edit {
    cursor: text;
  }
}

.selected {
  border: 1px dashed #fff;
  margin: -1px;
}
