.resize-button {
  position: absolute;
  margin-left: -14px;
  margin-top: -14px;
  padding: 10px;
  z-index: 20;

  &.left-top {
    left: 0;
    top: 0;
    cursor: nw-resize;
  }

  &.right-top {
    left: 100%;
    top: 0;
    cursor: ne-resize;
  }

  &.left-bottom {
    left: 0;
    top: 100%;
    cursor: sw-resize;
  }

  &.right-bottom {
    left: 100%;
    top: 100%;
    cursor: se-resize;
  }

  .resize-circle {
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
}

.resizer {
  position: absolute;
  border: 1px dashed #fff;
  margin-left: -1px;
  margin-top: -1px;
}
