.contenteditable {
  cursor: default;
  border: none;
  outline: none;

  p {
    margin: 0;
    padding: 0;
  }

  span {
    display: inline;
    margin: 0;
    padding: 0 6px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke-color: black;
    -webkit-box-decoration-break: clone; /* stylelint-disable-line property-no-vendor-prefix */
    box-decoration-break: clone;
  }

  &:hover {
    cursor: default;
  }

  &.edit {
    cursor: text;
  }
}

div[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text; /* stylelint-disable-line property-no-vendor-prefix */
  outline: none;
}
