.slider {
    position: relative;
    height: 4px;
    padding-bottom: 32px;

    .slider-input {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        display: block;
        position: absolute;
        width: 100%;
        margin: 0;

        /* Removes default focus */
        &:focus {
            outline: none;
        }

        /***** Chrome, Safari, Opera and Edge Chromium styles *****/
        /* slider track */
        &::-webkit-slider-runnable-track {
            background: #AAAAAA1A;
            border-radius: 2px;
            height: 4px;
        }

        /* slider thumb */
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            /* Centers thumb on the track */
            margin-top: -8px;

            /*custom styles*/
            background-color: #FFFFFF;
            height: 20px;
            width: 20px;
            border-radius: 10px;
        }

        /******** Firefox styles ********/
        /* slider track */
        &::-moz-range-track {
            background: #AAAAAA1A;
            border-radius: 2px;
            height: 4px;
        }

        &::-moz-range-thumb {
            /* custom styles */
            background-color: #FFFFFF;
            height: 20px;
            width: 20px;
            border: none;
            border-radius: 10px;
        }
    }

    .slider-track {
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 2px;
    }

    &.slider--active {
        .slider-input {
            &::-webkit-slider-thumb {
                background-color: #4E8EE5;
            }

            &::-moz-range-thumb {
                background-color: #4E8EE5;
            }
        }

        .slider-track {
            background-color: #4E8EE5;
        }
    }
}

@-moz-document url-prefix() {
    .slider-input {
        margin-top: -7px;
    }
}
