.adjust {
    /* &.default { */
    /*     .value { */
    /*         color: #AAAAAA; */
    /*     } */
    /**/
    /*     .heading { */
    /*         color: #AAAAAA; */
    /*     } */
    /* } */

    &.highlight {
        .value {
            color: #FFFFFF;

            &.empty {
                color: #717579;
            }
        }

        .heading {
            color: #FFFFFF;
        }
    }

    .value {
        color: #AAAAAA;
    }

    .heading {
        color: #AAAAAA;
    }
}

.slider {
    padding: 0 24px;

}
