.adjust {
  .value {
    color: #aaa;
  }

  .heading {
    color: #aaa;
  }

  &.highlight {
    .value {
      color: #fff;

      &.empty {
        color: #717579;
      }
    }

    .heading {
      color: #fff;
    }
  }
}

.slider {
  padding: 0 24px;
}
