.contenteditable {
  display: inline;
  border: none;
  outline: none;
  cursor: default;
  padding: 0 6px;

  &:hover {
    cursor: default;
  }

  &.edit {
    cursor: text;
  }

  filter: url("#round");

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
