.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1;

  .icon {
    padding: 0 16px;

    svg {
      display: block;
    }
  }

  .title {
    padding-left: 16px;
  }

  & * {
    flex-grow: 0;
  }

  &.active {
    background-color: #2b2b2b;
  }

  &:hover {
    background-color: #2b2b2b;
  }
}
